# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# YOLO training outputs
runs/
weights/
exp*/
*.pt

# Dataset: images + labels (可选，看你是否上传数据)
data/
datasets/
images/
labels/

# Hidden OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Large raw data
*.nii
*.nii.gz
*.dcm

# Checkpoints
*.ckpt

# Temporary files
*.tmp
*.swp



